<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" xmlns:jh="http://typo3.org/ns/JonathanHeilmann/JhMagnificpopup/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />

    <f:if condition="{type}">
        <f:render partial="Magnificpopup/{type->jh:format.ucfirst()}" arguments="{uid: uid, settings: settings}"/>
    </f:if>

    <f:if condition="{settings.linktype} == 'file'">
        <f:then>
            <f:render partial="Magnificpopup/ContentTemplates/File/{contentTemplateExtension->jh:format.underscoredToUpperCamelCase()}" arguments="{_all}"/>
        </f:then>
        <f:else>
            {tsLink->f:format.raw()}
        </f:else>
    </f:if>

    <f:switch expression="{settings.contenttype}">
        <f:case value="reference">
            <div id="mfp-inline-{data.uid}" class="white-popup-block mfp-hide">
                <jh:inlineContent.reference contentUids="{settings.content.reference}" />
            </div>
        </f:case>
        <f:case value="inline">
            <div id="mfp-inline-{data.uid}" class="white-popup-block mfp-hide">
                <jh:inlineContent.inline data="{data}" />
            </div>
        </f:case>
    </f:switch>

</f:section>

</html>