<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" xmlns:jh="http://typo3.org/ns/JonathanHeilmann/JhMagnificpopup/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

    <f:if condition="{settings.compatibilityMode}">
        <f:then>
            <f:render partial="Magnificpopup/ShowCompatibilityMode" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render partial="Magnificpopup/ContentType/{settings.contenttype->jh:format.ucfirst()}" arguments="{_all}"/>
        </f:else>
    </f:if>

</f:section>

</html>