<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:jh="http://typo3.org/ns/Heilmann/JhMagnificpopup/ViewHelpers">
<jh:pageRenderer.addJsInlineCode name="jh_magnificpopup-iframe-{uid}" addToFooter="true">
    $('.mfp-iframe-{uid}').magnificPopup({
        type: 'iframe',
        tClose: '<f:translate key="iframe.tClose"/>',
        tLoading: '<f:translate key="iframe.tLoading"/>',
        disableOn: {settings.type.iframe.disableOn},
        mainClass: '{settings.type.iframe.mainClass}',
        preloader: {settings.type.iframe.preloader},
        closeOnContentClick: {settings.type.iframe.closeOnContentClick},
        closeOnBgClick: {settings.type.iframe.closeOnBgClick},
        closeBtnInside: {settings.type.iframe.closeBtnInside},
        showCloseBtn: {settings.type.iframe.showCloseBtn},
        enableEscapeKey: {settings.type.iframe.enableEscapeKey},
        modal: {settings.type.iframe.modal},
        alignTop: {settings.type.iframe.alignTop},
        fixedContentPos: '{settings.type.iframe.fixedContentPos}',
        fixedBgPos: '{settings.type.iframe.fixedBgPos}',
        overflowY: '{settings.type.iframe.overflowY}',
        removalDelay: {settings.type.iframe.removalDelay},
        closeMarkup: '{f:format.raw(value:settings.type.iframe.closeMarkup)}',
    });
</jh:pageRenderer.addJsInlineCode>
</html>